<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Demir/Desktop/TestNG/src/test/LoginTest.java"><classes><class name="test.LoginTest"><methods><include name="validAdminLogin"/><include name="validUserInvalidPassword"/><include name="validUserEmptyPassword"/></methods></class></classes></test></suite>